/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: DarkBlue;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: DarkBlue;
  font-size: 200%;
  font-style: normal;
  text-align: center;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
table#campaigns {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  //display: inline;
}
table#campaigns th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#campaigns th, table#campaigns td {
  padding: 4px;
  text-align: center;
  
}

table#user_campaigns {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  //display: inline;
}
table#user_campaigns th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#user_campaigns th, table#user_campaigns td {
  padding: 4px;
  text-align: center;
  
}


table#worlds {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#worlds th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#worlds th, table#worlds td {
  padding: 4px;
  text-align: center;
  
}

table#users {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#users th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#users th, table#users td {
  padding: 4px;
  text-align: center;
  
}
table#npcs {
  margin: 10px;
  border-collapse: collapse;
  width: 25%;
  border: 2px solid black;
}
table#npcs th {
  font-weight: bold;
  background-color: wheat;
  border-bottom: 2px solid black;
}
table#npcs th, table#npcs td {
  padding: 4px;
  text-align: center;
  border-left: 2px solid black;
}
table#npcs tr:nth-child(even) {
  background-color: wheat;
}
table#npcs tr:hover {
  background-color: #f5f5f5;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 15px 2px 15px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

p {
  display: inline;
  padding: 30px 15px 5px 15px;
  
}

.left.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
  
.right.column {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 150px;
  float: right;
  margin-right: 80px;
  margin-bottom: 10px;
  clear: right;
}

@import "bootstrap-sprockets";
@import "bootstrap";
