%h2 Details about #{@user.name}

%ul#details
  %li
    Name:
    = @user.name
  %li
    Start Date:
    = @user.created_at.strftime("%B %d, %Y")

= link_to 'Back to user list', users_path, :class => 'button'